<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--jQuery Link-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!--Bootstrap Links-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--CSS Style Sheet-->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <title>Mongo Article Scraper!</title>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container" style="height: 60px">
            <div class="navbar-header">
                <i class="fa fa-newspaper-o fa-4x" style="float: left; padding-right: 12px" aria-hidden="true"></i><a class="navbar-brand" href="/"><h4>MongoDB Media Scraper</h4></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-primary" id="scrape" style="padding-top: 24px">Saved Articles</button></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}

        <!--External JS Link-->
        <!-- <script src="../public/assets/js/app.js"></script> -->
    </body>
</html>
